certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cycler==0.10.0
deepsegment==2.3.0
dnspython==1.16.0
dominate==2.5.1
EasyTkinter==1.1.0
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.3
future==0.18.2
h5py==2.10.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.13.2
keras==2.3.1
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
nltk==3.4.5
numpy==1.17.0
pandas==0.25.1
progressbar2==3.50.0
py4j==0.10.7
pydload==1.0.8
pymongo==3.9.0
pyparsing==2.4.2
pyspark==2.4.4
python-dateutil==2.8.0
python-utils==2.4.0
pytz==2019.2
pyyaml==5.3
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.1
seqeval==0.0.3
seqtag-keras==1.0.5
six==1.12.0
sklearn==0.0
urllib3==1.25.8
visitor==0.1.3
Werkzeug==1.0.0
WTForms==2.2.1
